.header {
  position: relative;
  overflow: hidden;
}

.contact__flare-1 {
  rotate: 180deg;
  top: 0;
  left: -3%;
}

.contact__flare-2 {
  bottom: -26%;
  right: -11%;
}

.header__box {
  border: 0;
}

.contact__active {
  background: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact__section {
  padding: 15.7rem 10rem 11.5rem;
  align-items: center;
}

.contact__text__box {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  font-family: "Montserrat", sans-serif;
}

.contact__heading {
  font-family: "Clash Display", sans-serif;
  font-size: 3.2rem;
  color: #d434fe;
  font-weight: 600;
}

.contact__text {
  font-size: 1.6rem;
}

.contact__info {
  max-width: 9.6rem;
}
.contact__address {
  max-width: 11.9rem;
}

.contact__tel__link:link,
.contact__tel__link:visited {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}
.contact__open__hour {
  max-width: 27.2rem;
}

.contact__social__box {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding-top: 1.8rem;
}
.contact__social__text {
  font-size: 1.6rem;
  color: #d434fe;
}
.contact__socials {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.contact__social__img {
  width: 2.4rem;
  height: 2.4rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  border-radius: 1.2rem;
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 9.2rem 7.5rem;
}
.form__heading {
  font-size: 2rem;
  font-weight: 600;
  color: #d434fe;
}

.form__heading span {
  display: block;
}

.input {
  padding: 1.3rem 2.7rem;
  background-color: transparent;
  border-radius: 0.4rem;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

.input::placeholder {
  color: #fff;
}

.name {
}
.email {
}
.message {
  resize: none;
}

.form__cta:link,
.form__cta:visited {
  /* display: flex;
  justify-content: center; */
}

.form__cta__box {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.error__text {
  color: #ff26b9;
  font-size: 2rem;
  font-style: italic;
  padding: 2.3rem 0 1.6rem;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}
