@media (max-width: 87.5em) {
  .primary__heading {
    font-size: 6.5rem;
  }

  .primary__heading img {
    height: 4.6rem;
    width: 4.6rem;
  }

  .hero__text__img {
    right: 28%;
    width: 4rem;
    height: 6rem;
  }

  .hero__img__text {
    font-size: 2.6rem;
  }

  .hero__img__text span {
    right: 21%;
  }
}

@media (max-width: 75em) {
  .primary__heading {
    font-size: 5.5rem;
  }

  .nav__links {
    gap: 3rem;
  }

  .cta:link,
  .cta:visited,
  .submit__cta,
  .form__cta {
    padding: 1.4rem 3.5rem;
  }

  .nav__link__cta {
    margin-left: 0;
  }
}

@media (max-width: 68.75em) {
  .hero__img__text {
    font-size: 2.2rem;
  }
  .hero__img__text span {
    bottom: -75%;
    right: 10%;
  }

  .partners__logo__boxes {
    padding: 9rem;
  }
}

@media (max-width: 62.5em) {
  html {
    font-size: 56.25%;
  }

  .grid__2x2 {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .full-width {
    width: 50%;
  }

  .hero__text__box {
    align-items: center;
    text-align: center;
    padding-top: 6rem;
  }

  .primary__heading {
    max-width: 50.1rem;
  }

  .hero__img__text {
    position: absolute;
    top: -135%;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero__text__img {
    right: 16%;
    top: 4%;
  }

  .hero__img__box {
    align-items: center;
  }

  .introduction__section {
    gap: 4rem;
  }

  .intro__img__box {
    display: flex;
    justify-content: center;
  }
  .intro__text__box {
    text-align: center;
  }

  .rules__img__box,
  .judging__img__box,
  .prizes__img__box {
    grid-row: 1;
    display: flex;
    justify-content: center;
  }

  .faq__img__box {
    display: flex;
    justify-content: center;
    padding-top: 15rem;
  }

  .questions {
    top: 6%;
  }
  .rules__text__box,
  .judging__text__box,
  .faq__text__box,
  .prizes__text__box,
  .privacy__text__box {
    text-align: center;
  }

  .faq__text__box {
    width: 100%;
  }

  .judging__cta:link,
  .judging__cta:visited {
    align-self: center;
  }

  .timeline__boxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: 2rem;
    padding-left: 4rem;
  }

  .timeline__box-l,
  .timeline__text__heading-r {
    text-align: left;
  }

  .timeline__number {
    position: absolute;
    left: -5%;
    top: 50%;
  }

  /* .prize__winner__img {
    width: 7.5997rem;
    height: 7.6421rem;
  }

  .prize__winner__img-2 {
    width: 12.5671rem;

    height: 12.5671rem;
  } */

  .prize__winner__img {
    width: 12.5997rem;
    height: 12.6421rem;
    top: -20%;
  }

  .prize__winner__img-2 {
    width: 25.5671rem;

    height: 25.5671rem;
    top: -50%;
  }

  .partners__logo__text,
  .partners__logo__text__2,
  .partners__logo__span__2 {
    font-size: 3rem;
  }

  .privacy__heading__additional__text {
    max-width: initial;
  }

  .footer__container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .footer__links {
    justify-self: flex-start;
  }

  .rules__section {
    padding-bottom: 4rem;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }

  .hero__img__text {
    top: -120%;
  }

  .hero__img__text span {
    bottom: -100%;
  }
}

@media (max-width: 50.25em) {
  .hero__img__text {
    top: -126%;
  }
}
