@media (max-width: 62.5em) {
  .register__container {
    justify-items: stretch;
    overflow: hidden;
  }

  .register__form__box {
    justify-items: stretch;
    grid-template-columns: repeat(2, 1fr);
  }

  .form {
    background-color: transparent;
    box-shadow: none;
  }
}

@media (max-width: 43.75em) {
  .register__container {
    padding: 4rem;
  }

  .register__form__box {
    grid-template-columns: 1fr;
  }

  .form {
    padding: 5rem 2rem;
  }

  html {
    font-size: 50%;
  }
}

@media (max-width: 31.25em) {
  .success__container {
    width: 100%;
    padding: 3rem;
  }

  .success__img {
    width: 100%;
  }

  .success__heading {
    font-size: 2rem;
  }
}
